@use "../../assets/styles/root/" as *;

.transaction-wrapper {
  @include flex-column;
  align-items: center;
  flex-grow: 1;
  background-color: $bg-color;
  
  .transaction-header {
    @include flex-column;
    @include center-children;
    background-color: $white-color;
    width: 100%;
    border-top: $bg-color 1px solid;
    color: $text-color;
    padding: 15px;
    row-gap: 10px;

    &-title {
      font-size: 16px;
      font-weight: $fw-300;
    }
    &-amount {
      font-size: 36px;
      font-weight: $fw-700;
    }
  }

  section.transactions-list {
    @include flex-column;
    margin-top: 35px;
    width: 80%;
    background-color: $white-color;

    .transactions-list-titles {
      @include flex-row;
      color: $white-color;
      padding-bottom: 10px;

      background-color: $bg-color;
      p {
        width: 25%;
        text-align: center;
      }
    }

    .transaction-items {
      @include flex-column;
      width: 100%;
      color: $text-color;

      .transaction-item {
        @include flex-column;
        row-gap: 15px;
        padding: 15px;
        border-bottom: 1px solid $bg-color;
        
        &-header {
          @include flex-row;
          
          .dropdown-and-date {
          @include flex-row;
          flex-grow: 1;
        }
        .transaction-item-date {
          padding-left: 20px;
        }
          .transaction-item-description,
          .transaction-item-amount,
          .transaction-item-balance
          {
          width: 25%;
          text-align: center
        }
        }
        &-details {
          @include flex-column;
          padding-left: 35px;
          row-gap: 15px;
        }

        .hidden {
          display: none;
        }
      }
    }
  }
}

.fa-chevron-down,
.fa-pencil {
cursor: pointer;
}


