@use "../../assets/styles/root/" as *;

.form-sign-in {
  background-color: $white-color;
  @include flex-column-center;
  box-sizing: border-box;

  width: 300px;
  margin: 0 auto;
  margin-top: 3rem;
  padding: $p-2rem;

  header {
    @include flex-column-center;
    p.error-message{
      color: $error-color;
      text-align: center
    }
  }

  &-content {
    @include flex-column-center;
    div {
      @include flex-column;
      align-items: flex-start;
      input {
        width: 100%;
      }
    }
  }
}
