@use "../../assets/styles/root/" as *;

.form-sign-in {
  background-color: $white-color;
  @include flex-column-center;
  box-sizing: border-box;

  width: 300px;
  margin: 0 auto;
    margin-top: $m-3rem;
    padding: $p-2rem;

  header {
    @include flex-column-center;
    p.error-message{
      color: $error-color;
      text-align: center;
      margin-bottom: 15px;
    }
    h1 {
      font-size: 1.5em;
      margin: 1rem
    }
    .fa-circle-user {
      font-size: 18px;
    }
  }

  &-content {
    @include flex-column-center;
    width: 100%;
    row-gap: $g-1rem;

    p.error-message {
      margin-top: 5px;
      margin-left: 5px;
      color: $error-color;
      font-size: 14px;
    }

    input.error {
      border-color: red;
    }
    div {
      @include flex-column;
      align-items: flex-start;
      width: 100%;
      label {
        font-weight: $fw-700;
      }
      input {
        width: 100%;
        padding: $p-5;
        font-size: 1.2rem;
      }
    }
    .password-container{
      .input-pw-container{
        position: relative;

        .fa-eye,
       .fa-eye-slash{
        position: absolute;
        right: 0;
        padding: 10px;
        cursor: pointer;
        }
      }
    
      
    }
  }

  .remember-me {
    margin-top: $g-1rem;
    align-self: start;
  }

  .btn-sign-in {
    text-decoration: underline;
    border: none;
  }
}

