@use "../../assets/styles/root/" as *;

.profile-wrapper {
  @include flex-column;
  align-items: center;
  background-color: $bg-color;
  // row-gap: $p-35;
  flex-grow: 1;
  .header {
    @include flex-column;
    margin-bottom: 25px;
    h1 {
      margin: 20px 0;
      font-size: 2em;
      color: $white-color;
      text-align: center;
    }
    .btn-edit-name {
      align-self: center;
      width: auto;
      margin-top:0;
    }
  }

}
