@use "../../assets/styles/root/" as *;

section.account {
  background-color: $white-color;
  @include flex-column;
  justify-content: space-between;
  padding: 1.5rem;
  width: 65%;
  border-width: 1px;
  border-style: solid;
  border-color: black;
  border-image: initial;
  margin: 0px auto 2rem;
  color: $text-color;


  @media (min-width: 720px) {
    @include flex-row;
    width: 75%;

  }

  .account-content-wrapper {
    .account-title,
    .account-amount-description {
      font-size: $fs-1;
      margin: 0;
      padding: 0;
      font-weight: $fw-300;
    }

    .account-amount {
      font-size: 2.5rem;
      font-weight: $fw-700;
      margin: 0;
    }
  }
  .account-content-wrapper.cta {
      // @include flex-column;
      // @include center-children;
      flex: 0 1 0%;
   
      .transaction-button {
        width: 100%;
        padding: 8px;
        @media (min-width: 720px) {
          width: 200px;
        }

        
      }
    }
}
