@use "../../assets/styles/root/" as *;

.form-edit-name{
  @include flex-column;

  p.error-message {
    color:lighten($error-color, 15%);
    align-self: center;
    margin-bottom: 15px;
  }
  .inputs-edit-name{
    @include flex-column;
    row-gap: $g-15;

    @media (min-width: 720px) {
      @include flex-row;
    column-gap: $g-15;
    }

    input {
      padding: 8px;
      color: gray;
    }
  }

  .btns-form {
    @include flex-row;
    justify-content: center;
    column-gap: $g-15;

    button{
      width: 30%;
    }
  }



}